In [1]:
import pandas as pd
import regex as re

colnames=['Id_user','Name','Usage','TimePlayed','useless'] 

df_steam = pd.read_csv("../Datasets/steam-200k_officiel.csv", names=colnames)
df_vgsales = pd.read_csv("../Datasets/vgsales_officiel.csv")
df_steam_full = pd.read_csv("../Datasets/steam_games_complete.csv")

In [2]:
df_vgsales.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
df_steam.drop(['useless'], axis=1, inplace=True)
df_steam.head()
len(df_steam)

200000

In [4]:
df_steam_full.drop(["desc_snippet"],axis=1,inplace=True)
df_steam_full.drop(["recent_reviews"],axis=1,inplace=True)
df_steam_full.drop(["release_date"],axis=1,inplace=True)
df_steam_full.drop(["publisher"],axis=1,inplace=True)
df_steam_full.drop(["languages"],axis=1,inplace=True)
df_steam_full.drop(["achievements"],axis=1,inplace=True)
df_steam_full.drop(["minimum_requirements"],axis=1,inplace=True)
df_steam_full.drop(["recommended_requirements"],axis=1,inplace=True)
df_steam_full.drop(["original_price"],axis=1,inplace=True)
df_steam_full.drop(["discount_price"],axis=1,inplace=True)
df_steam_full.drop(["url"],axis=1,inplace=True)
df_steam_full.drop(["types"],axis=1,inplace=True)

In [5]:
df_steam_full.head()

,name,all_reviews,developer,popular_tags,game_details,genre,game_description,mature_content
0,DOOM,"Very Positive,(42,550),- 92% of the 42,550 use...",id Software,"FPS,Gore,Action,Demons,Shooter,First-Person,Gr...","Single-player,Multi-player,Co-op,Steam Achieve...",Action,"About This Game Developed by id software, the...",NaN
1,PLAYERUNKNOWN'S BATTLEGROUNDS,"Mixed,(836,608),- 49% of the 836,608 user revi...",PUBG Corporation,"Survival,Shooter,Multiplayer,Battle Royale,PvP...","Multi-player,Online Multi-Player,Stats","Action,Adventure,Massively Multiplayer",About This Game PLAYERUNKNOWN'S BATTLEGROUND...,Mature Content Description The developers de...
2,BATTLETECH,"Mostly Positive,(7,030),- 71% of the 7,030 use...",Harebrained Schemes,"Mechs,Strategy,Turn-Based,Turn-Based Tactics,S...","Single-player,Multi-player,Online Multi-Player...","Action,Adventure,Strategy",About This Game From original BATTLETECH/Mec...,NaN
3,DayZ,"Mixed,(167,115),- 61% of the 167,115 user revi...",Bohemia Interactive,"Survival,Zombies,Open World,Multiplayer,PvP,Ma...","Multi-player,Online Multi-Player,Steam Worksho...","Action,Adventure,Massively Multiplayer",About This Game The post-soviet country of Ch...,NaN
4,EVE Online,"Mostly Positive,(11,481),- 74% of the 11,481 u...",CCP,"Space,Massively Multiplayer,Sci-fi,Sandbox,MMO...","Multi-player,Online Multi-Player,MMO,Co-op,Onl...","Action,Free to Play,Massively Multiplayer,RPG,...",About This Game,NaN

In [6]:
df_steam['Name'].head(20)

0     The Elder Scrolls V Skyrim
1     The Elder Scrolls V Skyrim
2                      Fallout 4
3                      Fallout 4
4                          Spore
5                          Spore
6              Fallout New Vegas
7              Fallout New Vegas
8                  Left 4 Dead 2
9                  Left 4 Dead 2
10                      HuniePop
11                      HuniePop
12                 Path of Exile
13                 Path of Exile
14                   Poly Bridge
15                   Poly Bridge
16                   Left 4 Dead
17                   Left 4 Dead
18               Team Fortress 2
19               Team Fortress 2
Name: Name, dtype: object

In [7]:
def remove_spaces_specials_and_lower(expression):
    expression = str(expression)
    expression = expression.lower()
    expression = expression.strip()
    expression = re.sub('[^A-Za-z0-9]+', '', expression)
    return expression

In [8]:
df_steam["Name"].head()

0    The Elder Scrolls V Skyrim
1    The Elder Scrolls V Skyrim
2                     Fallout 4
3                     Fallout 4
4                         Spore
Name: Name, dtype: object

In [9]:
df_steam['NameClean'] = df_steam['Name'].apply(remove_spaces_specials_and_lower)
df_steam_full['nameClean'] = df_steam_full['name'].apply(remove_spaces_specials_and_lower)
df_steam['NameClean'].head()

0    theelderscrollsvskyrim
1    theelderscrollsvskyrim
2                  fallout4
3                  fallout4
4                     spore
Name: NameClean, dtype: object

In [10]:
df_steam_full["nameClean"].head()

0                           doom
1    playerunknownsbattlegrounds
2                     battletech
3                           dayz
4                      eveonline
Name: nameClean, dtype: object

In [11]:
df_steam_full.drop(["name"],axis=1, inplace = True)

# df_steam.rename(columns={"NameClean":"Name"})
df_steam_full = df_steam_full.rename(columns={"nameClean":"NameClean"})
df_steam_full.drop_duplicates(subset="NameClean",keep = 'first', inplace=True)

In [12]:
df_steam.head()

,Id_user,Name,Usage,TimePlayed,NameClean
0,151603712,The Elder Scrolls V Skyrim,purchase,1.0,theelderscrollsvskyrim
1,151603712,The Elder Scrolls V Skyrim,play,273.0,theelderscrollsvskyrim
2,151603712,Fallout 4,purchase,1.0,fallout4
3,151603712,Fallout 4,play,87.0,fallout4
4,151603712,Spore,purchase,1.0,spore

In [13]:
df = pd.merge(df_steam, df_steam_full, left_on = "NameClean", right_on = "NameClean")

In [20]:
a=len(df_steam["Name"].unique()) - len(df_steam["NameClean"].unique())
b=len(df["NameClean"].unique())
c=len(df_steam_full["NameClean"].unique())
print("steam | merged | full\n",a,b,c)

steam | merged | full
 4 3020 40451

In [15]:
a=len(df_steam)
b=len(df)
c=len(df_steam_full)
print("steam | merged | full\n",a,b,c)

steam | merged | full
 200000 142641 40451